# Environment variables
.env

# Python virtual environment & cache
.venv/
__pycache__/
*.py[cod]
*$py.class

# Pytest / Cache
.pytest_cache/
pytest-cache-files-*/
.coverage

# SQLite database
*.db
*.sqlite3

# Node / Next.js
node_modules/
.next/
